h1 {
    color: rgb(15, 6, 102);
}

h2 {
    color: black;
}

h3 {
    color: rgb(231, 14, 14);
}

body {
    background-color: darkgrey;

}

li.listHeader {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    background-color: lightgrey
}

table.center {
    margin-left: auto;
    margin-right: auto;
  }

  th, tr, td {
    padding: 10px;
  }