<html>
<head>
    <title>ECE Advisor Home</title>
    <link href={{ url_for("static", path='/styles.css') }} rel='stylesheet'>
</head>
<body>
    <h2>Menu</h2>
    <ul>
        <li>Student Information</li>
        <ul>
            <li><a href="#">Find Student by SID</a></li>
            <li><a href="#">Find Student by Email</a></li>
            <li><a href="#">List Currently Registered EE Undergrads</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
        <li>Faculty Information</li>
        <ul>
            <li><a href="#">Faculty List</a></li>
            <li><a href="#">Find Faculy Code by netID & Year-Qtr</a></li>
            <li><a href="#">Placeholder</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
        <li>Course Information</li>
        <ul>
            <li><a href="#">Current Time Schedule</a></li>
            <li><a href="#">Course History</a></li>
            <li><a href="#">Joint Courses Information</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
    </ul>
</body>
</html>