<html>
<head>
    <title>ECE Advisor Home</title>
    <link href={{ url_for("static", path='/styles.css') }} rel='stylesheet'>
</head>
<body>
    <h2>Menu</h2>
    <ul>
        <li class="listHeader">Student Information</li>
        <ul>
            <li><a href="/student_info/">Find Student by SID or Email Address</a></li>
            <li><a href="#">List Currently Registered EE Undergrads</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
        <li class="listHeader">Faculty Information</li>
        <ul>
            <li><a href="#">Faculty List</a></li>
            <li><a href="#">Find Faculty Code by netID & Year-Qtr</a></li>
            <li><a href="#">Placeholder</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
        <li class="listHeader">Course Information</li>
        <ul>
            <li><a href="#">Current Time Schedule</a></li>
            <li><a href="/course_history">Course History</a></li>
            <li><a href="#">Joint Courses Information</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
    </ul>
</body>
</html>