<html>
<head>
    <title>Student Info</title>
    <link href={{ url_for("static", path='/styles.css') }} rel='stylesheet'>
</head>
<body>
    <div>
        <form>
            <label for="sid">Student No. or Either Email</label><br>
            <input type="text" id="sid" name="sid" autofocus>
            <p><input type="submit"></p>
        </form>
    </div>
    <h3>{{ sid }} - {{ name }}</h3>
    <ul>
        <li>Qtrs Used: {{ qtrs_used }}</li>
        <li>UW Email: <a href="#">{{ uw_email }}</a></li>
        <li>Alt. Email: <a href="#">{{ other_email }}</a></li>
        <li>Campus: {{ campus }}</li>
        <li>Major Dept.: {{ major }}</li>
        <li>Degree {{ degree }}</li>
        <li>Degree Status: {{ degree_status }}</li>
        <li>Degree Earned: {{ degree_earnrd }}</li>
    </ul>
</body>
</html>