{% extends "base.html" %}
{% block title %}Student Info{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div>
                    <form>
                        <p></p>
                        <label for="sid"><h6>Student No. or Either Email</h6></label><br>
                        <input type="text" id="sid" name="sid" autofocus>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">   
            <div class="col">
                <div>
                <h3>{{ sid }} - {{ name }}</h3>
                <ul>
                    <li>Qtrs Used: {{ qtrs_used }}</li>
                    <li>UW Email: <a href="mailto:{{ uw_email }}">{{ uw_email }}</a></li>
                    <li>Alt. Email: <a href="mailto:{{ other_email }}">{{ other_email }}</a></li>
                    <li>Campus: {{ campus }}</li>
                    <li>Major Dept.: {{ major }}</li>
                    <li>Degree: {{ degree }}</li>
                    <li>Degree Status: {{ degree_status }}</li>
                    <li>Degree Earned: {{ degree_earned }}</li>
                </ul>
                </div>
            </div>
            <div class="col">
                <p></p>
                <h4>Current Schedule</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>qtr-Yr</th>
                            <th>SLN</th>
                            <th>Course</th>
                            <th>Cr.</th>
                            <th>Instr.</th>
                        </tr>
                    </thead>
                    <body>
                    {% for c in current_schedule %}
                        <tr>
                            {% for datum in c %}
                            <td>{{ datum }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </body>
                </table>
            </div>
            <div class="col">
                <p></p>
                <h4>More Information</h4>
            </div>
        </div>
        <p><a href="/">Home</a></p>
        
    </div>
</body>
{% endblock %}
