{% extends "shared/base.html" %}
{% block title %}Course Info{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div>
            <p><a href="/">Menu</a></p>
        </div>
        <div>
            <form>
                <div class="form-group">
                    <label for="dept">Dept Abbr.</label>
                    <input type="text" id="dept" name="dept" value='E E'><br><br>
                    <label for="number">Course No.</label>
                    <input type="text" id="number" name="number" autofocus><br><br>
                    <label for="start">Start Year</label>
                    <input type="text" id="start" name="start" value={{ start }}><br><br>
                    <label for="end">End Year</label>
                    <input type="text" id="end" name="end" value={{ end }}><br>
                    <p><input type="submit"></p>
                </div>
            </form>
        </div>
        <div>
            <h3>Course History</h3>
            <table class="table table-sm table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Year</th>
                        <th>Qtr</th>
                        <th>Dept</th>
                        <th>No.</th>
                        <th>Type</th>
                        <th>Sect.</th>
                        <th>#</th>
                        <th>Days</th>
                        <th>Bldg.</th>
                        <th>Room</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Enr_10</th>
                        <th>Enr_End</th>
                        <th>Limit</th>
                        <th>Denied</th>
                        <th>Added</th>
                        <th>Dropped</th>
                        <th>Instr.</th>
                        <th>Title</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody?
                {% for row in course_data %}
                    <tr>
                    {% for data in row %}
                        <td> {{ data }} </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</body>
</html>
