{% extends "shared/base.html" %}
{% block title %}Course Info{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div>
            <p><a href="/">Menu</a></p>
        </div>
        <div>
            <h5>Joint Course Info</h5>
            <table class="table w-auto table-sm table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Dept.</th>
                        <th>Course #</th>
                        <th>Joint Dept.</th>
                        <th>Resp. Dept.</th>
                    </tr>
                <thead>
                <tbody>    
                {% for course, values in joint_courses_data.items() %}
                    <tr>
                        <td> {{ values.dept }} </td>
                        <td> {{ course }} </td>
                        <td> {{ values.joint_courses }} </td>
                        <td> {{ values.resp_dept }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</html>